body { 
background-color: rgb(255,199,250);
}

h1{
text-align: center;
border-top: 3px ridge pink;
border-bottom: 3px ridge pink;
}

.Lista{ 
color: red;
}

#B{
 width: 275px;
 border: 5px ridge white;
 position: absolute;
 top: 650px;
 left: 650px;
}
#Catorce{
font-size: 30px;
borde: 3px ridge white;
position: absolute;
top: 1125px ;
left: 625px;
}

#C{
 width: 400px;
 border: 5px ridge white;
 position: absolute;
 top: 1650px;
 left: 585px;
}
#Casados{
font-size: 30px;
borde: 3px ridge white;
position: absolute;
top: 1950px ;
left: 580px;
}

#D{
 width: 300px;
 border: 5px ridge white;
 position: absolute;
 top: 2650px;
 left: 640px;
}
#Dibujo{
font-size: 30px;
borde: 3px ridge white;
position: absolute;
top: 2950px ;
left: 550px;
}

#E{
 width: 300px;
 border: 5px ridge white;
 position: absolute;
 top: 3650px;
 left: 650px;
}
#Abril{
font-size: 30px;
borde-bottom: 5px ridge white;
position: absolute;
top: 4175px ;
left: 550px;
}

#F{
 width: 270px;
 border: 5px ridge white;
 position: absolute;
 top: 4650px;
 left: 50px;
}
#XV{
font-size: 30px;
borde: 3px ridge white;
position: absolute;
top: 4650px ;
left: 425px;
}

#Ñ{
 width: 350px;
 border: 5px ridge white;
 position: absolute;
 top: 4650px;
 left: 1100px;
}
#Cine{
font-size: 30px;
borde: 3px ridge white;
position: absolute;
top: 6050px ;
left: 615px;
}

#H{
 width: 300px;
 border: 5px ridge white;
 position: absolute;
 top: 5650px;
 left: 650px;
}

#G{
 width: 350px;
 border: 5px ridge white;
 position: absolute;
 top: 6700px;
 left: 50px;
}

#O{
 width: 300px;
 border: 5px ridge white;
 position: absolute;
 top: 6650px;
 left: 1100px;
}
#Amarillo{
font-size: 30px;
borde: 3px ridge white;
position: absolute;
top: 6650px ;
left: 450px;
}

#I{
 width: 300px;
 border: 5px ridge white;
 position: absolute;
 top: 7650px;
 left: 50px;
}
#Novios{
font-size: 30px;
border-bottom: 3px ridge white;
position: absolute;
top: 7650px;
left: 500px;
}
span{
color: red;
}

#P{
 width: 300px;
 border: 5px ridge white;
 position: absolute;
 top: 7650px;
 left: 1100px;
}

#J{
 width: 300px;
 border: 5px ridge white;
 position: absolute;
 top: 8650px;
 left: 650px;
}
#Fiesta{
font-size: 30px;
borde-bottom: 3px ridge white;
position: absolute;
top: 9050px ;
left: 665px;
}

#K{
 width: 275px;
 border: 5px ridge white;
 position: absolute;
 top: 9650px;
 left: 650px;
}
#Tio{
font-size: 30px;
borde: 3px ridge white;
position: absolute;
top: 10125px ;
left: 475px;
}

#L{
 width: 350px;
 border: 5px ridge white;
 position: absolute;
 top: 10650px;
 left: 625px;
}
#Balto{
font-size: 30px;
borde: 3px ridge white;
position: absolute;
top: 11080px ;
left: 545px;
z-index: 1;
}

#M{
 width: 400px;
 border: 5px ridge white;
 position: absolute;
 top: 11650px;
 left: 575px;
}
#Nicol{
font-size: 30px;
borde: 3px ridge white;
position: absolute;
top: 11950px ;
left: 600px;
}

#N{
 width: 300px;
 border: 5px ridge white;
 position: absolute;
 top: 12650px;
 left: 650px;
}
#Pasear{
font-size: 30px;
borde: 3px ridge white;
position: absolute;
top: 13030px ;
left: 635px;
}

.Q-a{
 width: 850px;
 position: absolute;
 top: 10525px;
 left: 375px;
}
.Q-b{
 width: 150px;
 position: absolute;
 top: 175;
 left: 1300px;
}
.Q-c{
 width: 125px;
 position: absolute;
 top: 275px;
 left: 175px;
}
.Q-d{
 width: 100px;
 position: absolute;
 top: 500px;
 left: 550px;
}
.Q-e{
 width: 125px;
 position: absolute;
 top: 400px;
 left: 1300px;
}
.Q-f{
 width: 150px;
 position: absolute;
 top: 350px;
 left: 850px;
}
.Q-g{
 width: 125px;
 position: absolute;
 top: 800px;
 left: 1200px;
}
.Q-h{
 width: 100px;
 position: absolute;
 top: 1100px;
 left: 1350px;
}
.Q-i{
 width: 150px;
 position: absolute;
 top: 815px;
 left: 150px;
}
.Q-j{
 width: 125px;
 position: absolute;
 top: 1050px;
 left: 450px;
}
.Q-k{
 width: 125px;
 position: absolute;
 top: 1600px;
 left: 1350px;
}
.Q-l{
 width: 125px;
 position: absolute;
 top: 1750px;
 left: 130px;
}
.Q-m{
 width: 125px;
 position: absolute;
 top: 2750px;
 left: 200px;
}
.Q-n{
 width: 125px;
 position: absolute;
 top: 2500px;
 left: 1300px;
}
.Q-ñ{
 width: 125px;
 position: absolute;
 top: 1400px;
 left: 500px;
}
.Q-o{
 width: 125px;
 position: absolute;
 top: 2350px;
 left: 400px;
}
.Q-p{
 width: 125px;
 position: absolute;
 top: 2000px;
 left: 1350px;
}
.Q-q{
 width: 125px;
 position: absolute;
 top: 3000px;
 left: 1350px;
}
.Q-r{
 width: 125px;
 position: absolute;
 top: 2150px;
 left: 850px;
}
.Q-s{
 width: 125px;
 position: absolute;
 top: 1250px;
 left: 850px;
}
.Q-t{
 width: 125px;
 position: absolute;
 top: 3550px;
 left: 1350px;
}
.Q-u{
 width: 125px;
 position: absolute;
 top: 3250px;
 left: 250px;
}
.Q-v{
 width: 125px;
 position: absolute;
 top: 3650px;
 left: 250px;
}
.Q-w{
 width: 125px;
 position: absolute;
 top: 4150px;
 left: 250px;
}
.Q-x{
 width: 125px;
 position: absolute;
 top: 3350px;
 left: 850px;
}
.Q-y{
 width: 125px;
 position: absolute;
 top: 4350px;
 left: 850px;
}
.Q-z{
 width: 125px;
 position: absolute;
 top: 4900px;
 left: 450px;
}
.Q-aa{
 width: 125px;
 position: absolute;
 top: 5300px;
 left: 950px;
}
.Q-ab{
 width: 125px;
 position: absolute;
 top: 4050px;
 left: 1150px;
}
.Q-ac{
 width: 125px;
 position: absolute;
 top: 5650px;
 left: 1150px;
}
.Q-ad{
 width: 125px;
 position: absolute;
 top: 5200px;
 left: 100px;
}
.Q-ae{
 width: 125px;
 position: absolute;
 top: 4500px;
 left: 1300px;
}
.Q-af{
 width: 125px;
 position: absolute;
 top: 5950px;
 left: 450px;
}
.Q-ag{
 width: 125px;
 position: absolute;
 top: 6050px;
 left: 1350px;
}
.Q-an{
 width: 125px;
 position: absolute;
 top: 6200px;
 left: 950px;
}
.Q-ah{
 width: 125px;
 position: absolute;
 top: 6350px;
 left: 150px;
}
.Q-ai{
 width: 125px;
 position: absolute;
 top: 5550px;
 left: 350px;
}
.Q-aj{
 width: 125px;
 position: absolute;
 top: 6750px;
 left: 850px;
}
.Q-ak{
 width: 125px;
 position: absolute;
 top: 7200px;
 left: 650px;
}
.Q-al{
 width: 125px;
 position: absolute;
 top: 7400px;
 left: 1100px;
}
.Q-am{
 width: 125px;
 position: absolute; 
 top: 7400px;
 left: 150px;
}
.Q-añ{
 width: 125px;
 position: absolute; 
 top: 7800px;
 left: 450px;
}
.Q-ao{
 width: 125px;
 position: absolute; 
 top: 8300px;
 left: 1350px;
}
.Q-ap{
 width: 125px;
 position: absolute; 
 top: 8450px;
 left: 150px;
}
.Q-aq{
 width: 125px;
 position: absolute; 
 top: 8400px;
 left: 850px;
}
.Q-ar{
 width: 125px;
 position: absolute; 
 top: 8950px;
 left: 450px;
}
.Q-as{
 width: 125px;
 position: absolute; 
 top: 8850px;
 left: 1250px;
}
.Q-at{
 width: 125px;
 position: absolute; 
 top: 9300px;
 left: 150px;
}
.Q-au{
 width: 125px;
 position: absolute; 
 top: 9350px;
 left: 850px;
}
.Q-av{
 width: 125px;
 position: absolute; 
 top: 9250px;
 left: 1375px;
}
.Q-ax{
 width: 125px;
 position: absolute; 
 top: 10250px;
 left: 1150px;
}
.Q-ay{
 width: 125px;
 position: absolute; 
 top: 9800px;
 left: 1300px;
}
.Q-az{
 width: 125px;
 position: absolute; 
 top: 9800px;
 left: 50px;
}
.Q-aaa{
 width: 125px;
 position: absolute; 
 top: 10500px;
 left: 50px;
}
.Q-aab{
 width: 125px;
 position: absolute; 
 top: 10650px;
 left: 1350px;
}
.Q-aac{
 width: 125px;
 position: absolute; 
 top: 11100px;
 left: 150px;
}
.Q-aad{
 width: 125px;
 position: absolute; 
 top: 12100px;
 left: 200px;
}
.Q-aae{
 width: 125px;
 position: absolute; 
 top: 11600px;
 left: 250px;
}
.Q-aaf{
 width: 125px;
 position: absolute; 
 top: 11300px;
 left: 1200px;
}
.Q-aag{
 width: 125px;
 position: absolute; 
 top: 11700px;
 left: 1375px;
}
.Q-aah{
 width: 125px;
 position: absolute; 
 top: 12300px;
 left: 850px;
}
.Q-aai{
 width: 125px;
 position: absolute; 
 top: 12100px;
 left: 1300px;
}
.Q-aaj{
 width: 125px;
 position: absolute; 
 top: 12550px;
 left: 1350px;
}
.Q-aak{
 width: 125px;
 position: absolute; 
 top: 12650px;
 left: 150px;
}
.Q-aal{
 width: 125px;
 position: absolute; 
 top: 13000px;
 left: 975px;
}

#Bendi{
font-family: cursive;
 width: 40px;
 color: white;
 position: absolute;
 top: 80px;
 left: 1030px;
}
.R-a{
 width: 200px;
 position: absolute;
 top: 60px;
 left: 1025px;
}
.R-b{
 width: 150px;
 position: absolute;
 top: 550px;
 left: 200px;
}
.R-c{
 width: 150px;
 position: absolute;
 top: 275px;
 left: 550px;
}
.R-d{
 width: 150px;
 position: absolute;
 top: 600px;
 left: 1100px;
}
.R-e{
 width: 150px;
 position: absolute;
 top: 1250px;
 left: 200px;
}
.R-f{
 width: 150px;
 position: absolute;
 top: 7250px;
 left: 50px;
}
.R-g{
 width: 150px;
 position: absolute;
 top: 1275px;
 left: 1350px;
}
.R-h{
 width: 150px;
 position: absolute;
 top: 2050px;
 left: 150px;
}
.R-i{
 width:150px;
 position: absolute;
 top: 1850px;
 left: 1050px;
}
.R-j{
 width: 150px;
 position: absolute;
 top: 2450px;
 left: 850px;
}
.R-k{
 width: 150px;
 position: absolute;
 top: 2200px;
 left: 1200px;
}
.R-l{
 width: 150px;
 position: absolute;
 top: 2850px;
 left: 450px;
}
.R-m{
 width: 150px;
 position: absolute;
 top: 2750px;
 left: 1350px;
}
.R-n{
 width: 150px;
 position: absolute;
 top: 3300px;
 left: 1350px;
}
.R-ñ{
 width: 150px;
 position: absolute;
 top: 3250px;
 left: 50px;
}
.R-o{
 width: 150px;
 position: absolute;
 top: 3150px;
 left: 650px;
}
.R-p{
 width: 150px;
 position: absolute;
 top: 4000px;
 left: 450px;
}
.R-q{
 width: 150px;
 position: absolute;
 top: 3800px;
 left: 1050px;
}
.R-r{
 width: 150px;
 position: absolute;
 top: 4250px;
 left: 1350px;
}
.R-s{
 width: 150px;
 position: absolute;
 top: 4450px;
 left: 150px;
}
.R-t{
 width: 150px;
 position: absolute;
 top: 4750px;
 left: 900px;
}
.R-u{
 width: 150px;
 position: absolute;
 top: 5150px;
 left: 600px;
}
.R-v{
 width: 150px;
 position: absolute;
 top: 5450px;
 left: 1350px;
}
.R-W{
 width: 150px;
 position: absolute;
 top: 5850px;
 left: 150px;
}
.R-X{
 width: 150px;
 position: absolute;
 top: 5900px;
 left: 1050px;
}
.R-Y{
 width: 150px;
 position: absolute;
 top: 6300px;
 left: 650px;
}
.R-Z{
 width: 150px;
 position: absolute;
 top: 6400px;
 left: 1350px;
}
.R-aa{
 width: 150px;
 position: absolute;
 top: 6900px;
 left: 450px;
}
.R-ab{
 width: 150px;
 position: absolute;
 top: 7500px;
 left: 1300px;
}
.R-ac{
 width: 150px;
 position: absolute;
 top: 7800px;
 left: 950px;
}
.R-ad{
 width: 150px;
 position: absolute;
 top: 8550px;
 left: 1200px;
}
.R-ae{
 width: 150px;
 position: absolute;
 top: 8300px;
 left: 450px;
}
.R-af{
 width: 150px;
 position: absolute;
 top: 8750px;
 left: 100px;
}
.R-ag{
 width: 150px;
 position: absolute;
 top: 9150px;
 left: 1050px;
}
.R-ah{
 width: 150px;
 position: absolute;
 top: 9400px;
 left: 350px;
}
.R-ai{
 width: 150px;
 position: absolute;
 top: 10000px;
 left: 1000px;
}
.R-aj{
 width: 150px;
 position: absolute;
 top: 10400px;
 left: 550px;
}
.R-ak{
 width: 150px;
 position: absolute;
 top: 10050px;
 left: 50px;
}
.R-al{
 width: 150px;
 position: absolute;
 top: 10800px;
 left: 100px;
}
.R-am{
 width: 150px;
 position: absolute;
 top: 10950px;
 left: 1300px;
}
.R-an{
 width: 150px;
 position: absolute;
 top: 11300px;
 left: 500px;
}
.R-añ{
 width: 150px;
 position: absolute;
 top: 11700px;
 left: 1000px;
}
.R-ao{
 width: 150px;
 position: absolute;
 top: 11950px;
 left: 50px;
}
.R-ap{
 width: 150px;
 position: absolute;
 top: 12300px;
 left: 1250px;
}
.R-aq{
 width: 150px;
 position: absolute;
 top: 12400px;
 left: 450px;
}
.R-ar{
 width: 150px;
 position: absolute;
 top: 12850px;
 left: 1350px;
}
.R-as{
 width: 150px;
 position: absolute;
 top: 12950px;
 left: 150px;
}

#BB{ 
 position: absolute;
 top: 13150px;
}
